body{
    background-color: #f3f4f5; 
    font-family: Arial, Georgia;
    font-size: 24px;
}

.header{
    border-radius: 10px ;
    background-color: peachpuff;
}

.header__menu{
    color: black;
    display: flex;
    justify-content: space-between;
}

.header__menu ul{
    display: flex;
}

.header__menu li{
    display: inherit;
}

.header__menu a{
    color: black;
    padding: 10px;
    font-weight: 400;
    text-decoration: none;
}

.header__menu a:hover{
    background-color: gray;
    color: honeydew;
    border-radius: 10px;
}

.container{
    width: 1300px;
    margin: auto;
}

.banner{
    color: black;
}

.banner .banner__hero{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.banner__text-hero{
    padding: 80px 0 0 80px;
    font-family: Georgia;
    font-size: 18px;
}

.servicios {
    display: flex;
    margin: 100px;
    font-family: Georgia;
    font-size: 18px;
    color: #757575;
}

.ingredientes{
    display: flex;
    margin: auto;
    font-family: Georgia;
    font-size: 18px;
    color: #757575;
}


.pasos{
    display: flex;
    margin: 100px;
    font-family: Georgia;
    font-size: 18px;
    color: #757575;

}

.title{
    border-radius: 10px;
    background-color: peachpuff;
}